
html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
};

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and ( max-width:700px) {
  html{
      font-size: 57.25%;
  }
}
@media screen and ( max-width:500px) {
  html{
      font-size: 45.25%
  }
}


.form-group p{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: .75rem;
}

.form-group :nth-child(2){
  width: 90%;
}

.gen-btn{
  background-color: black;
  color:white;
  padding: .75rem;
  border-radius: 3px;
  margin-top: 2rem;
  outline: none;
  border: none;

}

.download-btn{
  background-color: transparent;
  color: #000000;
  padding: .75rem;
  border-radius: .75rem;
}

.print-btn{
  background-color: black;
  padding: .75rem;
  border-radius: .75rem;
  color: white;
  outline: none;
  border: none;
}