
html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
};

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and ( max-width:700px) {
  html{
      font-size: 57.25%;
  }
}
@media screen and ( max-width:500px) {
  html{
      font-size: 45.25%
  }
}


.form-group p{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: .75rem;
}

.form-group :nth-child(2){
  width: 90%;
}

.gen-btn{
  background-color: black;
  color:white;
  padding: .75rem;
  border-radius: 3px;
  margin-top: 2rem;
  outline: none;
  border: none;

}

.download-btn{
  background-color: transparent;
  color: #000000;
  padding: .75rem;
  border-radius: .75rem;
}

.print-btn{
  background-color: black;
  padding: .75rem;
  border-radius: .75rem;
  color: white;
  outline: none;
  border: none;
}

.qr-code-tab__wrapper{
  width: 90%;
  margin:auto;
  padding: .75rem 0rem;
}
.qr-code-tab__container{
  display: flex;
  justify-content: space-around;
  width: 90%;

}
.qr-code-tab__container a{
  text-decoration: none;
  color:inherit;
}

.qr-code-tab__single{
  position: relative;
  display: flex;
  align-items: center;
  height: 10vh;
  border-radius: 7%;
  padding: 0rem .75rem;
  transition: all .3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* use hight:10vw for potrait mode */
.qr-code-tab__single img{
  
}


.qr-code-tab__single p{
  font-size: 2rem;
  font-weight: 700;
  padding: 0rem .75rem;
  
  
}

.tab-active{
  background-color: #D0DEFF!important;

}